#Xilinx ISE
_xmsgs/
_ngo/
iseconfig/
isim/
*_xdb/
xst/
isim.tmp_save/
planAhead*/
ipcore_dir/

*.restore
*.ise_ISE_Backup
*_summary.html
*.map
*.mrp
*.ngr
*.ngd
*.ngc
*.bld
*.cmd_log
*.lso
*.ntrc_log
*.stx
*.syr
*.xst
*.xrpt
*.wdb
*_envsettings.html
*.xwv*
*.jhd
*.ant
*.wcfg
*.ise_.lock
*.bgn
*.bit
*.drc
*.lfp
*.ncd
*.pad
*.par
*.pcf
*.twr
*.twx
*.ucf
*.unroutes
*.ut
*.xpi
*_guide.ncd
*_map.ncd
*_map.ngm
*_pad.csv
*_pad.txt
*_summary.xml
*_usage.xml
*.gise
*.prj
*.ptwx
*_bitgen.xwbt
*.tcl
*.log
*.xmsgs
*.cmd
*.gise
*.ncf
*.mif

par_usage_statistics.html
usage_statistics_webtalk.html
device_usage_statistics.html
isim.hdlsourcefiles
webtalk_pn.xml
xilinxsim.ini
planAhead.jou

*.exe
